/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/*********** GENERAL ***********/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

/*********** NAVIGATION ***********/

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 15px;
	font-size: 1.2em;
}

li a {
	color: #000000;
	text-decoration: none;
}

li a:hover {
	color: #B1663C;
}

.logInOut {
	font-weight: 700;
}

li img {
	width: 65%;
}

/*********** INTRODUCTION ***********/

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 5em;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	width: 75%;
	margin-bottom: 0.5em;
}

/*********** PORTFOLIO ***********/

#portfolio h2 {
	text-align: center;
}

.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-bottom: 2.5em;
}

.filters button {
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 18px;
	border: #1D6154 solid 1px;
	border-radius: 10em;
	background-color: #ffffff00;
	padding: 0.5em 1em;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.filters button.active {
	color: #ffffff;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/*********** CONTACT ***********/

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	display: flex;
	align-self: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin-top: 3em;
	padding: 0em 2.5em;
	text-align: center;
	border-radius: 60px ;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0E2F28;
}

/***********LOG IN/OUT ***********/

.logSection {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding-top: 6em;
	width: 400px;
	min-width: 200px;
	height: 68vh;
	text-align: center;
}

.logSection h2 {
	margin-bottom: 20px;
}

.logSection form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.logSection input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.logSection label {
	margin: 2em 0 1em 0;
}

.logSection a {
	display: flex;
	width: fit-content;
	color: #000000;
	margin: auto;
	margin-top: 1.5em;
}

.error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	margin-top: 1.5em;
}

/*********** ADMIN MOOD ***********/

.editionMood {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	padding: 1.5em;
	box-sizing: border-box;
}

.editionMood i {
	margin-right: 0.5em;
}

.title-editProjects {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
	padding-top: 3em;
	padding-bottom: 3em;
}

#editProjects {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #535353;
	cursor: pointer;
	gap: 3px;
}

/*********** REMOVE MODAL ***********/

.overlay {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00000050;
}

.modal {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 680px;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 2.5em 5em;
}

.topModal {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.topModal i {
	color: #3e3e3e;
	font-size: 20px;
	cursor: pointer;
}

.modal h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Work Sans";
	font-size: 29px;
	color: #000000;
	padding: 1em 0em;
}

.removeProjects {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
	grid-row-gap: 15px;
	width: 100%;
	box-sizing: border-box;
}

.imgAndTrash img {
	width: 100px;
	object-fit: contain;
}

.imgAndTrash i {
	position: absolute;
	border-radius: 0.2em;
	color: #ffffff;
	background-color: #000000;
	padding: 0.2em;
	margin-left: -2em;
	margin-top: 0.4em;
	cursor: pointer;
}

.upLineAdd {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
    margin: 2em 0em;
	border-top: #B3B3B3 solid 1px;
}

.addProject {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 260px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: white;
	background-color: #1D6154;
	padding: 1em;
	border-radius: 60px ;
	border: none;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.addProject:hover {
	background-color: #0f4a3c;
}

/*********** NEW PROJECT MODAL ***********/

.newProjetcForms {
	display: flex;
	flex-direction: column;
}

.addPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 8px;
	margin-bottom: 0.5em;
	background-color: #E8F1F6;
}

.pictoPhoto {
	width: 65px;
	object-fit: contain;
	margin-top: 1em;
}

#addPhotoLabel {
	border-radius: 60px;
	border: none;
	padding: 1em 3em;
	background-color: #CBD6DC;
	color: #306685;
	font-size: 15px;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

#addPhotoLabel:hover {
	background-color: #c9d2d7;
	color: #4595c4;
}

.addPhoto input {
	display: none;
}

.addPhoto p {
	color: #444444;
	font-size: 13px;
	margin-bottom: 1.5em;
}

.photoPreview {
	width: 150px;
	object-fit: contain;
}

.newProjetcForms label {
	display: flex;
	color: #3D3D3D;
	font-size: 15px;
	padding: 1em 0em;
}

.newProjetcForms input, select {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #6C6C6C;
}

.upLineValid {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
	margin: 2em 0em;
	border-top: #B3B3B3 solid 1px;
}

.validProject {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 260px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: white;
	background-color: #A7A7A7;
	padding: 1em;
	border-radius: 60px ;
	border: none;
	transition: background-color 0.3s ease-in-out;
}

.validProject.active {
  background-color: #1d6154;
  cursor: pointer;
  pointer-events: auto;
}

.validProject.active:hover {
	background-color: #0f4a3c;
}

.errorValidMsg {
	display: flex;
	justify-content: center;
	font-size: 13px;
	color: #ff8934;
	margin-top: 1.5em;
}

/*********** FOOTER ***********/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

